body {
  color: navy;
  font-family: 'Nunito', sans-serif;
  background-color: rgba(30, 30, 106, 0.509);
  height: 100%;
  margin: 10px;
}

.app {
  background-color: rgb(240, 242, 250);
  border-radius: 5px;
  height: calc(100vh - 40px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.top-bar,
.page-content,
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.page-content {
  flex-grow: 1;
  gap: 10px;
  padding: 5px;
}

.top-bar {
  margin-bottom: 20px;
}

.input-container {
  width: 100%;
  gap: 15px;
}

.mobile-view {
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.display-container, .graph-container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.app-name {
  margin: 0;
  padding-left: 10px;
  font-size: 30px;
}

.date-header {
  height: 40px;
  margin: 10px;
}

hr {
  width: 100%;
  color: gray;
}

button,
input {
  padding: 10px;
  margin: 0;
  border: none;
  background: none;
  font-weight: 600;
  font-size: medium;
  color: navy;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(0, 0, 128, 0.397);
}
button:active {
  background-color: rgba(0, 0, 128, 0.561);
}

.arrow {
  min-width: 0;
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.graph-container{
  width: 100%;
  height: calc(100% - 130px);
}

#output-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.weather-info p {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: flex-start;
}

.medium-text {
  font-size: 24px;
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.icon {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.x-axis {
  color: black;
  font-weight: 400;
  font-size: 14px;
}

.x-axis-title {
  font-size: 18px;
  padding-top: 10px;
}